@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);





body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #c0a375 !important;
}
.bg-success {
  background-color: #90a878 !important;
}
.bg-info {
  background-color: #7e9b9f !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #f28281 !important;
}
.btn-primary {
  background-color: #c0a375;
  border-color: #c0a375;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #a07e49;
  border-color: #a07e49;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #a07e49 !important;
  border-color: #a07e49 !important;
}
.btn-secondary {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-info {
  background-color: #7e9b9f;
  border-color: #7e9b9f;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #597478;
  border-color: #597478;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #597478 !important;
  border-color: #597478 !important;
}
.btn-success {
  background-color: #90a878;
  border-color: #90a878;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #6a8153;
  border-color: #6a8153;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #6a8153 !important;
  border-color: #6a8153 !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #f28281;
  border-color: #f28281;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #eb3d3c;
  border-color: #eb3d3c;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #eb3d3c !important;
  border-color: #eb3d3c !important;
}
.btn-primary-outline {
  background: none;
  border-color: #8e7041;
  color: #8e7041;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #c0a375;
  border-color: #c0a375;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #c0a375 !important;
  border-color: #c0a375 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-info-outline {
  background: none;
  border-color: #4e6669;
  color: #4e6669;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #7e9b9f;
  border-color: #7e9b9f;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #7e9b9f !important;
  border-color: #7e9b9f !important;
}
.btn-success-outline {
  background: none;
  border-color: #5d7149;
  color: #5d7149;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #90a878;
  border-color: #90a878;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #90a878 !important;
  border-color: #90a878 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #e82625;
  color: #e82625;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #f28281;
  border-color: #f28281;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #f28281 !important;
  border-color: #f28281 !important;
}
.text-primary {
  color: #c0a375 !important;
}
.text-success {
  color: #90a878 !important;
}
.text-info {
  color: #7e9b9f !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #f28281 !important;
}
.alert-success {
  background-color: #90a878;
}
.alert-info {
  background-color: #7e9b9f;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #f28281;
}
.btn-social {
  border-color: #c0a375;
}
.btn-social:hover {
  background: #c0a375;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #c0a375;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #c0a375;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #c0a375;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #c0a375;
}
.lead a,
.lead a:hover {
  color: #c0a375;
}
.lead blockquote {
  border-color: #c0a375;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #e8ddcd;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d0dac6;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c7d4d5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #c0a375;
}
.scrollToTop_wraper {
  opacity: 0 !important;
}
#menu-0 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-0 .navbar-caption {
  color: #ffffff;
  font-size: 22px;
}
#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .close-icon::before,
#menu-0 .close-icon::after {
  background-color: #ffffff;
}
#menu-0 .link,
#menu-0 .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-0 .link {
  font-size: 0.8rem;
}
#menu-0 .dropdown-item,
#menu-0 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-0 .link:hover,
#menu-0 .dropdown-item:hover,
#menu-0 .link:focus,
#menu-0 .dropdown-item:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-menu {
  background: #0e0e0e;
}
#menu-0 .nav-dropdown-sm .link:focus,
#menu-0 .nav-dropdown-sm .link:hover,
#menu-0 .nav-dropdown-sm .dropdown-item:focus,
#menu-0 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-0 .navbar,
#menu-0 .nav-dropdown-sm,
#menu-0 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-0 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-0 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-0 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-0 .bg-color.transparent.opened .link:hover,
#menu-0 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-0 .link[aria-expanded="true"],
#menu-0 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#header1-1 .mbr-section-title {
  text-align: center;
  color: #f3c649;
}
#header1-1 .mbr-section-lead {
  color: #ffffff;
}
#features4-4 .card-subtitle {
  color: #bcbcbc;
}
#features4-4 .iconbox {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
}
#footer1-1d SPAN {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}



#menu-5 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-5 .navbar-caption {
  color: #ffffff;
  font-size: 22px;
}
#menu-5 .navbar-toggler {
  color: #ffffff;
}
#menu-5 .close-icon::before,
#menu-5 .close-icon::after {
  background-color: #ffffff;
}
#menu-5 .link,
#menu-5 .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-5 .link {
  font-size: 0.8rem;
}
#menu-5 .dropdown-item,
#menu-5 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-5 .link:hover,
#menu-5 .dropdown-item:hover,
#menu-5 .link:focus,
#menu-5 .dropdown-item:focus {
  color: #c0a375;
}
#menu-5 .link[aria-expanded="true"],
#menu-5 .dropdown-menu {
  background: #0e0e0e;
}
#menu-5 .nav-dropdown-sm .link:focus,
#menu-5 .nav-dropdown-sm .link:hover,
#menu-5 .nav-dropdown-sm .dropdown-item:focus,
#menu-5 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-5 .navbar,
#menu-5 .nav-dropdown-sm,
#menu-5 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-5 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-5 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-5 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-5 .bg-color.transparent.opened .link:hover,
#menu-5 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-5 .link[aria-expanded="true"],
#menu-5 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-7 .mbr-section-title,
#msg-box8-7 p {
  color: #fff;
}
#content1-9 H3 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}
#content1-9 P {
  font-size: 17px;
}
#footer1-1d SPAN {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}


#menu-c .hide-buttons .nav-btn {
  display: none !important;
}
#menu-c .navbar-caption {
  color: #ffffff;
  font-size: 22px;
}
#menu-c .navbar-toggler {
  color: #ffffff;
}
#menu-c .close-icon::before,
#menu-c .close-icon::after {
  background-color: #ffffff;
}
#menu-c .link,
#menu-c .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-c .link {
  font-size: 0.8rem;
}
#menu-c .dropdown-item,
#menu-c .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-c .link:hover,
#menu-c .dropdown-item:hover,
#menu-c .link:focus,
#menu-c .dropdown-item:focus {
  color: #c0a375;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-menu {
  background: #0e0e0e;
}
#menu-c .nav-dropdown-sm .link:focus,
#menu-c .nav-dropdown-sm .link:hover,
#menu-c .nav-dropdown-sm .dropdown-item:focus,
#menu-c .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-c .navbar,
#menu-c .nav-dropdown-sm,
#menu-c .nav-dropdown-sm .link[aria-expanded="true"],
#menu-c .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-c .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-c .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-c .bg-color.transparent.opened .link:hover,
#menu-c .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-c .link[aria-expanded="true"],
#menu-c .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-d .mbr-section-title,
#msg-box8-d p {
  color: #fff;
}
#footer1-1d SPAN {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}


#menu-f .hide-buttons .nav-btn {
  display: none !important;
}
#menu-f .navbar-caption {
  color: #ffffff;
  font-size: 22px;
}
#menu-f .navbar-toggler {
  color: #ffffff;
}
#menu-f .close-icon::before,
#menu-f .close-icon::after {
  background-color: #ffffff;
}
#menu-f .link,
#menu-f .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-f .link {
  font-size: 0.8rem;
}
#menu-f .dropdown-item,
#menu-f .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-f .link:hover,
#menu-f .dropdown-item:hover,
#menu-f .link:focus,
#menu-f .dropdown-item:focus {
  color: #c0a375;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-menu {
  background: #0e0e0e;
}
#menu-f .nav-dropdown-sm .link:focus,
#menu-f .nav-dropdown-sm .link:hover,
#menu-f .nav-dropdown-sm .dropdown-item:focus,
#menu-f .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-f .navbar,
#menu-f .nav-dropdown-sm,
#menu-f .nav-dropdown-sm .link[aria-expanded="true"],
#menu-f .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-f .bg-color.transparent.opened .link:hover,
#menu-f .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-f .link[aria-expanded="true"],
#menu-f .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-g .mbr-section-title,
#msg-box8-g p {
  color: #fff;
}
#footer1-1d SPAN {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}


#menu-i .hide-buttons .nav-btn {
  display: none !important;
}
#menu-i .navbar-caption {
  color: #ffffff;
  font-size: 22px;
}
#menu-i .navbar-toggler {
  color: #ffffff;
}
#menu-i .close-icon::before,
#menu-i .close-icon::after {
  background-color: #ffffff;
}
#menu-i .link,
#menu-i .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-i .link {
  font-size: 0.8rem;
}
#menu-i .dropdown-item,
#menu-i .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-i .link:hover,
#menu-i .dropdown-item:hover,
#menu-i .link:focus,
#menu-i .dropdown-item:focus {
  color: #c0a375;
}
#menu-i .link[aria-expanded="true"],
#menu-i .dropdown-menu {
  background: #0e0e0e;
}
#menu-i .nav-dropdown-sm .link:focus,
#menu-i .nav-dropdown-sm .link:hover,
#menu-i .nav-dropdown-sm .dropdown-item:focus,
#menu-i .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-i .navbar,
#menu-i .nav-dropdown-sm,
#menu-i .nav-dropdown-sm .link[aria-expanded="true"],
#menu-i .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-i .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-i .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-i .bg-color.transparent.opened .link:hover,
#menu-i .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-i .link[aria-expanded="true"],
#menu-i .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-j .mbr-section-title,
#msg-box8-j p {
  color: #fff;
}
#content1-k P {
  text-align: left;
}
#form1-l .form-control-label {
  color: #232323;
}
#footer1-1d SPAN {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}



#menu-m .hide-buttons .nav-btn {
  display: none !important;
}
#menu-m .navbar-caption {
  color: #ffffff;
  font-size: 22px;
}
#menu-m .navbar-toggler {
  color: #ffffff;
}
#menu-m .close-icon::before,
#menu-m .close-icon::after {
  background-color: #ffffff;
}
#menu-m .link,
#menu-m .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-m .link {
  font-size: 0.8rem;
}
#menu-m .dropdown-item,
#menu-m .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-m .link:hover,
#menu-m .dropdown-item:hover,
#menu-m .link:focus,
#menu-m .dropdown-item:focus {
  color: #c0a375;
}
#menu-m .link[aria-expanded="true"],
#menu-m .dropdown-menu {
  background: #0e0e0e;
}
#menu-m .nav-dropdown-sm .link:focus,
#menu-m .nav-dropdown-sm .link:hover,
#menu-m .nav-dropdown-sm .dropdown-item:focus,
#menu-m .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-m .navbar,
#menu-m .nav-dropdown-sm,
#menu-m .nav-dropdown-sm .link[aria-expanded="true"],
#menu-m .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-m .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-m .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-m .bg-color.transparent.opened .link:hover,
#menu-m .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-m .link[aria-expanded="true"],
#menu-m .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-n .mbr-section-title,
#msg-box8-n p {
  color: #fff;
}
#msg-box4-r DIV {
  font-size: 46px;
}
#msg-box4-s H3 {
  font-size: 17px;
}
#msg-box4-s SPAN {
  font-family: 'Roboto', sans-serif;
  text-align: right;
}
#footer1-1d SPAN {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}


#menu-x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-x .navbar-caption {
  color: #ffffff;
  font-size: 22px;
}
#menu-x .navbar-toggler {
  color: #ffffff;
}
#menu-x .close-icon::before,
#menu-x .close-icon::after {
  background-color: #ffffff;
}
#menu-x .link,
#menu-x .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-x .link {
  font-size: 0.8rem;
}
#menu-x .dropdown-item,
#menu-x .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-x .link:hover,
#menu-x .dropdown-item:hover,
#menu-x .link:focus,
#menu-x .dropdown-item:focus {
  color: #c0a375;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-menu {
  background: #0e0e0e;
}
#menu-x .nav-dropdown-sm .link:focus,
#menu-x .nav-dropdown-sm .link:hover,
#menu-x .nav-dropdown-sm .dropdown-item:focus,
#menu-x .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-x .navbar,
#menu-x .nav-dropdown-sm,
#menu-x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-x .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-x .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-x .bg-color.transparent.opened .link:hover,
#menu-x .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-x .link[aria-expanded="true"],
#menu-x .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-y .mbr-section-title,
#msg-box8-y p {
  color: #fff;
}
#footer1-1d SPAN {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}


#menu-10 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-10 .navbar-caption {
  color: #ffffff;
  font-size: 22px;
}
#menu-10 .navbar-toggler {
  color: #ffffff;
}
#menu-10 .close-icon::before,
#menu-10 .close-icon::after {
  background-color: #ffffff;
}
#menu-10 .link,
#menu-10 .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-10 .link {
  font-size: 0.8rem;
}
#menu-10 .dropdown-item,
#menu-10 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-10 .link:hover,
#menu-10 .dropdown-item:hover,
#menu-10 .link:focus,
#menu-10 .dropdown-item:focus {
  color: #c0a375;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-menu {
  background: #0e0e0e;
}
#menu-10 .nav-dropdown-sm .link:focus,
#menu-10 .nav-dropdown-sm .link:hover,
#menu-10 .nav-dropdown-sm .dropdown-item:focus,
#menu-10 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-10 .navbar,
#menu-10 .nav-dropdown-sm,
#menu-10 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-10 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-10 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-10 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-10 .bg-color.transparent.opened .link:hover,
#menu-10 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-10 .link[aria-expanded="true"],
#menu-10 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-11 .mbr-section-title,
#msg-box8-11 p {
  color: #fff;
}
#content1-12 P {
  text-align: left;
}
#footer1-1d SPAN {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}


#menu-13 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-13 .navbar-caption {
  color: #ffffff;
  font-size: 22px;
}
#menu-13 .navbar-toggler {
  color: #ffffff;
}
#menu-13 .close-icon::before,
#menu-13 .close-icon::after {
  background-color: #ffffff;
}
#menu-13 .link,
#menu-13 .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-13 .link {
  font-size: 0.8rem;
}
#menu-13 .dropdown-item,
#menu-13 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-13 .link:hover,
#menu-13 .dropdown-item:hover,
#menu-13 .link:focus,
#menu-13 .dropdown-item:focus {
  color: #c0a375;
}
#menu-13 .link[aria-expanded="true"],
#menu-13 .dropdown-menu {
  background: #0e0e0e;
}
#menu-13 .nav-dropdown-sm .link:focus,
#menu-13 .nav-dropdown-sm .link:hover,
#menu-13 .nav-dropdown-sm .dropdown-item:focus,
#menu-13 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-13 .navbar,
#menu-13 .nav-dropdown-sm,
#menu-13 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-13 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-13 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-13 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-13 .bg-color.transparent.opened .link:hover,
#menu-13 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-13 .link[aria-expanded="true"],
#menu-13 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-14 .mbr-section-title,
#msg-box8-14 p {
  color: #fff;
}
#footer1-1d SPAN {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}


#menu-16 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-16 .navbar-caption {
  color: #ffffff;
  font-size: 22px;
}
#menu-16 .navbar-toggler {
  color: #ffffff;
}
#menu-16 .close-icon::before,
#menu-16 .close-icon::after {
  background-color: #ffffff;
}
#menu-16 .link,
#menu-16 .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-16 .link {
  font-size: 0.8rem;
}
#menu-16 .dropdown-item,
#menu-16 .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-16 .link:hover,
#menu-16 .dropdown-item:hover,
#menu-16 .link:focus,
#menu-16 .dropdown-item:focus {
  color: #c0a375;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-menu {
  background: #0e0e0e;
}
#menu-16 .nav-dropdown-sm .link:focus,
#menu-16 .nav-dropdown-sm .link:hover,
#menu-16 .nav-dropdown-sm .dropdown-item:focus,
#menu-16 .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-16 .navbar,
#menu-16 .nav-dropdown-sm,
#menu-16 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-16 .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-16 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-16 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-16 .bg-color.transparent.opened .link:hover,
#menu-16 .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-16 .link[aria-expanded="true"],
#menu-16 .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-17 .mbr-section-title,
#msg-box8-17 p {
  color: #fff;
}
#content1-18 P {
  text-align: left;
}
#form1-1a .form-control-label {
  color: #232323;
}
#footer1-1d SPAN {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}


#menu-1e .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1e .navbar-caption {
  color: #ffffff;
  font-size: 22px;
}
#menu-1e .navbar-toggler {
  color: #ffffff;
}
#menu-1e .close-icon::before,
#menu-1e .close-icon::after {
  background-color: #ffffff;
}
#menu-1e .link,
#menu-1e .dropdown-item {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}
#menu-1e .link {
  font-size: 0.8rem;
}
#menu-1e .dropdown-item,
#menu-1e .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-1e .link:hover,
#menu-1e .dropdown-item:hover,
#menu-1e .link:focus,
#menu-1e .dropdown-item:focus {
  color: #c0a375;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-menu {
  background: #0e0e0e;
}
#menu-1e .nav-dropdown-sm .link:focus,
#menu-1e .nav-dropdown-sm .link:hover,
#menu-1e .nav-dropdown-sm .dropdown-item:focus,
#menu-1e .nav-dropdown-sm .dropdown-item:hover {
  background: #202020!important;
}
#menu-1e .navbar,
#menu-1e .nav-dropdown-sm,
#menu-1e .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1e .nav-dropdown-sm .dropdown-menu {
  background: #282828;
}
#menu-1e .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1e .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1e .bg-color.transparent.opened .link:hover,
#menu-1e .bg-color.transparent.opened .link:focus {
  color: #c0a375;
}
#menu-1e .link[aria-expanded="true"],
#menu-1e .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#msg-box8-1f .mbr-section-title,
#msg-box8-1f p {
  color: #fff;
}
#footer1-1d SPAN {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}
